{% extends 'base.html.twig' %}

{% block title %}Trombinoscope - GTB{% endblock %}

{% block body %}
    {% include '_navbar.html.twig' %}
    {% include 'home/_jumbotron.html.twig' %}
    <section class="trombinoscope justify-content-center">
        <div class="container">
            <h2 class="text-center">Le Bureau</h2>
            <div class="row justify-content-center">
                {% set title='' %}
                {% for title, users in members %}
                    {% for user in users %}
                        <div class="card">
                            <img src="{{ user.picture }}" alt="{{ user.firstname }} {{ user.lastname }}"
                                 class="card-img-top">
                            <p class="card-title">{{ user.firstname }} {{ user.lastname }}</p>
                            <p class="card-body">{% if title == 'office' %}Membre du bureau{% elseif title == 'president' %}Président{% else %}Membre{% endif %}</p>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
