{{ form_start(form, {'attr':{'class':'form-group'}}) }}
<div class="row justify-content-center">
    <div class="col-12">
        {{ form_label(form.clubHome, 'Résumé du Club') }}
        {{ form_row(form.clubHome, {'attr':{'id':'summernote'}}) }}
        {{ form_label(form.clubContent, 'Page du club') }}
        {{ form_row(form.clubContent, {'attr':{'id':'summernote'}}) }}
        {{ form_label(form.trailHome, 'Résumé du Trail') }}
        {{ form_row(form.trailHome, {'attr':{'id':'summernote'}}) }}
        {{ form_label(form.trailContent, 'Page du trail') }}
        {{ form_row(form.trailContent, {'attr':{'id':'summernote'}}) }}
        {{ form_label(form.triathlonHome, 'Résumé du Triathlon') }}
        {{ form_row(form.triathlonHome, {'attr':{'id':'summernote'}}) }}
        {{ form_label(form.triathlonContent, 'Page du triathlon') }}
        {{ form_row(form.triathlonContent, {'attr':{'id':'summernote'}}) }}
    </div>
</div>
<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
