{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.date) }}
    {{ form_row(form.place) }}
    {{ form_row(form.imageFile) }}
    {{ form_row(form.urlEvent) }}
    {{ form_row(form.isPrivate) }}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
