{{ form_start(form, {'attr': {'novalidate':'novalidate'}}) }}
    {{ form_row(form.name) }}
    {{ form_row(form.date) }}
    {{ form_row(form.place) }}
    {{ form_row(form.shortDescription) }}
    {{ form_row(form.imageFile) }}
    {{ form_row(form.urlEvent) }}
    {{ form_row(form.longDescription) }}
    {{ form_row(form.isPrivate) }}
    <button class="btn btn-success">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
