{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur votre page personnel{% endblock %}

{% block body %}
    {% include '_navbar.html.twig' %}

    <div class="title-member-page">
        <h1 class="pt-5">BIENVENUE {{ user.firstname }} {{ user.lastname }}</h1>
    </div>
    <div class="row row-about-me justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-3 col-picture-about-me">
            {% set img = user.imageName is not empty ? 'uploads/images/member/' ~ user.imageName : 'build/images/person-placeholder.png' %}
            <img src="{{ asset(img) }}" alt="{{ user.lastname }}">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-3 col-about-me-information">
            <p>Prénom, Nom : {{ user.firstname }} {{ user.lastname }}</p>
            <p>Date de naissance : {{ user.birthdate|date('d M Y') }}</p>
            <p>Adresse : {{ user.address }}</p>
            <p>Email : {{ user.email }}</p>
        </div>

        <div class="col-lg-2 col-md-6 col-sm-3 col-edit-information">
            <p><i class="far fa-edit"></i></p>
            <p><a href="{{ path('user_edit', {'id': user.id}) }}">Éditer mes informations</a></p>
        </div>

        <div class="row row-button-member text-center">
            <div class="col-lg-4 pr-5">
                <p><a href="{{ path('member_galery') }}"><i class="far fa-images"></i></a></p>
                <p><a href="{{ path('member_galery') }}">Galerie</a></p>
            </div>
            <div class="col-lg-4 pr-5">
                <p><a href="{{ path('member_event_to_come') }}"><i class="fas fa-calendar-alt"></i></a></p>
                <p><a href="{{ path('member_event_to_come') }}">Évènements</a></p>
            </div>
            <div class="col-lg-4 pr-5">
                <a href="{{ path('trombinoscope') }}"><i class="fas fa-portrait"></i></a></p>
                <p><a href="{{ path('trombinoscope') }}">Trombinoscope</a></p>
            </div>
        </div>

    </div>
    {% include '_footer.html.twig' %}

{% endblock %}
