{% extends 'base.html.twig' %}

{% block title %}Club trail et triathlon Blois - Reset de votre mot de passe{% endblock %}

{% block body %}
    <div class="container">
        <div class=""></div>
        {{ form_start(form) }}
        {{ form_row((form.email)) }}
        {{ form_row((form.password)) }}

    </div>


    <button class="btn btn-primary" type="submit">{{ button_label|default('Enregistrer') }}</button>

    {{ form_end(form) }}


{% endblock %}