{% extends 'base.html.twig' %}

{% block title %}Reset de votre mot de passe - GTB{% endblock %}

{% block body %}
    {{ form_start(form) }}

    <div class="container">


        <div class="row justify-content-center pt-5">
            <div class="card w-75">
                <div class="card-body">
                    <h1>CHANGEMENT DE MOT DE PASSE</h1>
                    <p class="card-text pt-5">Veuillez saisir votre email et votre nouveau mot de passe.</p>

                    {{ form_row((form.email)) }}
                    {{ form_row((form.password)) }}

                    <div class="row row-button-forgotten-password justify-content-center pt-5 pb-5">
                        <button class="btn btn-primary" type="submit">{{ button_label|default('Envoyer') }}</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {{ form_end(form) }}
{% endblock %}