{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <section class="page login">


        {% include '_navbar.html.twig' %}

        <div class="row login-card justify-content-center align-content-center mt-5">
            <div class="card w-25 card-connexion">
                <div class="card-body">
                    <h1>Connexion</h1>
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <div class="col-auto pt-4">
                            <label class="sr-only" for="inlineFormInputGroup">Username</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">@</div>
                                </div>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                       class="form-control" placeholder="Adresse mail" required autofocus>
                            </div>
                        </div>
                        <div class="col-auto pt-4">
                            <label class="sr-only" for="inlineFormInputGroup">Password</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-lock"></i></div>
                                </div>
                                <input type="password" name="password" id="inputPassword" class="form-control"
                                       placeholder="Mot de passe" required>
                            </div>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <div class="button-submit pr-5 pl-5 pt-4 justify-content-center">
                            <button class="btn btn-block btn-submit form-group" type="submit">
                                Valider
                            </button>
                        </div>
                    </form>
                    <div class="new-account pt-4">
                        <p><a href="{{ path('creation_utilisateur') }}">Créer un nouveau compte</a></p>
                        <p><a href="{{ path('forgotten_password') }}">Mot de passe oublié</a></p>
                    </div>
                </div>
            </div>
        </div>
        {% include '_footer.html.twig' %}




    </section>

{% endblock %}
