<h2 class="text-center my-5">Évènements à venir</h2>
<section class="row events my-2">

    {% if events==true %}
        <div class="col-lg-6 col-sm-12 main  justify-content-center">
            <div class="card mx-auto">
                <img src="{{ asset('uploads/images/event/' ~ events[0].imageName) }}" class="card-img-top" alt="{{ events[0].imageName }}.">
                <div class="card-body">
                    <h5 class="card-title">{{ events[0].name }}</h5>
                    <p class="card-text">Le {{ events[0].date |date('d/m/Y') }}
                        à {{ events[0].place }}</p>
                    <a href="{{ events[0].urlEvent }}" class="btn btn-primary">Voir l'évènement</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 next">
            {% for event in events|slice(1,3) %}
                <div class="card">
                    <div class="card-body">
                        <p>
                            <strong>{{ event.name }}</strong><br>
                            Le {{ event.date|date('d/m/Y') }} à {{ event.place }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Vous n'avez aucun événement enregistré</p>
    {% endif %}
</section>