<section class="row events">
    <div class="col">
        <div class="card">
            <img src="{{ first.picture }}"
                 class="card-img-top" alt="{{ first.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ first.name }}</h5>
                <p class="card-text">Le {{ first.date|date('d/m/Y') }}
                    à {{ first.place }}</p>
                <a href="{{ first.url }}" class="btn btn-primary">En savoir plus</a>
            </div>
        </div>
    </div>
    <div class="col">
        {% for event in events %}
        <div class="card">
            <div class="card-body">
                <p>
                    <strong>{{ event.name }}</strong><br>
                    Le {{ event.date|date('d/m/Y') }} à {{ event.place }}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>