{% extends 'base.html.twig' %}

{% block body %}
    {{ include ('_navbar.html.twig') }}
    {{ include ('home/_jumbotron.html.twig') }}
    <div class="container-fluid">
        {{ include ('home/_events.html.twig') }}
    </div>
    {{ include ('home/_club.html.twig') }}
    {{ include ('home/_trail.html.twig') }}
    {{ include ('home/_triathlon.html.twig') }}
    <div class="container-fluid">
        {{ render(controller('App\\Controller\\ContactController::Index')) }}
        {{ include ('home/_HomeGalery.html.twig') }}
        {{ include ('_sponsors.html.twig') }}
    </div>
    {{ include ('_footer.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}
