{% extends 'base.html.twig' %}

{% block title %}Commentaires{% endblock %}

{% block body %}
    {% include 'admin/_navbar.html.twig' %}
    {{ include ('admin/_header.html.twig', { titleHeader: 'Commentaires' }) }}
<div class="admin-content position-absolute justify-content-center">


    <table class="table table-hover">
        <thead>
            <tr>
                <th>Utilisateur</th>
                <th>Date</th>
                <th>Événements</th>
                <th>Message</th>
                <th>En ligne</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ (comment.user.firstname ~' '~ comment.user.lastname)}}</td>
                <td>{{ comment.date ? comment.date|date('Y-m-d H:i') : '' }}</td>
                <td>{{ comment.event.name }}</td>
                <td>{{ comment.message|slice(0,50) }}...</td>
                <td>{{ comment.isActive ? 'oui' : 'non' }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('comment_show', {'id': comment.id}) }}">Modérer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
