{% extends 'base.html.twig' %}

{% block title %}Commentaires{% endblock %}

{% block body %}
    {% include 'admin/_navbar.html.twig' %}
    {{ include ('admin/_header.html.twig', { titleHeader: 'Commentaires' }) }}
<div class="admin-content position-absolute justify-content-center">


    <table class="table">
        <thead>
            <tr>
                <th>Utilisateur</th>
                <th>Date</th>
                <th>Événements</th>
                <th>Message</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.date ? comment.date|date('Y-m-d H:i') : '' }}</td>
                <td>{{ comment.event.name }}</td>
                <td>{{ comment.message }}</td>
                <td>
                    <a href="{{ path('comment_show', {'id': comment.id}) }}">Modérer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('comment_new') }}">Create new</a>
</div>
{% endblock %}
