    <div class="card m-2">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{ picture }}" class="card-img" alt="{{ name }}">
            </div>
            <div class="col-md-8">
                <h5 class="card-title pl-2 pt-2">{{ name }}</h5>
                <small class="text-muted d-block pl-2">{{ nbComments }} commentaires</small>
                <small class="text-muted d-block pl-2">{{ date }}</small>
            </div>
        </div>
    </div>
