<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tip tip</title>
</head>
<body>

<h1>Une nouvelle demande d'information vient de vous être envoyée.</h1>
<ul>
    <li>Nom : {{ (contact.lastname) }}</li>
    <li>Prénom : {{ (contact.firstname) }}</li>
    <li>E-mail : {{ (contact.email) }}</li>
    <li>Sujet : {{ (contact.subject) }}</li>
    <li>Message : {{ (contact.message) }}</li>
</ul>
</body>
</html>

