{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <div class="contact-form col-11 col-md-6 mt-5 mb-5 pt-5 pb-3">
        <h2 class="pb-3">Nous contacter</h2>
        {{ form_start(form, {'action': path('contact'), 'method': 'POST'}) }}
        <div class="row pt-4 justify-content-center">
            <div class="form-group-lastname col-12  input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-user"></i></div>
                </div>
                {{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="row pt-4 justify-content-center">
            <div class="form-group-firstname col-12  input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-user"></i></div>
                </div>
                {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="row pt-4 justify-content-center">
            <div class="form-group-email col-12  input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-envelope"></i></div>
                </div>
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="row pt-4 justify-content-center">
            <div class="form-group-subject col-12  input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-check"></i></div>
                </div>
                {{ form_widget(form.subject, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="row pt-4 justify-content-center">
            <div class="form-group-message col-12">
                {{ form_widget(form.message,{ 'attr': {'rows': '8'} }) }}
            </div>
        </div>

        <div class="row pt-4 justify-content-end mb-5 mr-2">
            <button class="btn btn-primary">Envoi</button>
        </div>
        {{ form_end(form) }}
    </div>
    
{% endblock %}
