<section class="container sponsors">

    <div class="row">
        <div class="title-cont col-12">
            <h2 class="text-center">Nos Partenaires</h2>
            <hr class="border border-sponsors">
        </div>

        <div class="bd-example">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

                <ol class="carousel-indicators pt-5 pt-md-0">

                    {% set maxItemsPerCarousel = 5 %}
                    {% set totalItems = sponsors|length %}
                    {% set initialCounter = maxItemsPerCarousel %}
                    {% set secondaryCounter = maxItemsPerCarousel * 2 %}
                    {% set numberSlide = (totalItems/maxItemsPerCarousel)|round(0, 'floor')%}

                        <li data-target="#carouselSponsors" data-slide-to="0" class="active"></li>

                    {% for i in range (1, numberSlide - 1) %}
                        <li data-target="#carouselSponsors" data-slide-to="{{ i }}"></li>
                    {% endfor %}
                </ol>

                <div class="carousel-inner">

                    <div class="carousel-item card-deck mt-5 justify-content-center d-flex flex-row active">
                        {% for key, sponsor in sponsors if key >= 0 and key < 5 %}
                            <div class="card col-4 col-sm-5 col-lg-2 p-lg-3 m-3">
                                <a target="_blanket" href="{{ sponsors[key].site }}">
                                    <img class="card-img-top" src="{{ sponsors[key].logoUrl }}" alt="{{ sponsors[key].name }}-id-{{ sponsors[key].id }}">
                                </a>
                            </div>
                        {% endfor %}
                    </div>

                    {% for i in range (5, numberSlide) %}

                        <div class="carousel-item card-deck mt-5 justify-content-center d-flex flex-row">

                            {% for key, sponsor in sponsors if key >= initialCounter and key < secondaryCounter %}

                                    <div class="card col-4 col-sm-5 col-lg-2 p-lg-3 m-3">
                                        <a target="_blanket" href="{{ sponsor.site }}">
                                            <img class="card-img-top" src="{{ sponsor.logoUrl }}" alt="{{ sponsor.name }}-id-{{ sponsor.id }}">
                                        </a>
                                    </div>

                            {% endfor %}
                            {% set initialCounter = initialCounter + maxItemsPerCarousel %}
                            {% set secondaryCounter = secondaryCounter + maxItemsPerCarousel %}

                        </div>

                    {% endfor %}

                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>
