{{ form_start(form) }}

<div class="row container-fluid justify-content-center">
    <div class="row card card-new-account col-lg-8 col-sm-10 pt-4">
        <div class="row form-group-title justify-content-center">
            <div class="col-lg-4 col-md-7 col-sm-3">
                {{ form_label(form.firstname, 'Prénom') }}
                {{ form_widget(form.firstname, ({'attr': {'class':'form-control'}})) }}
                {{ form_errors(form.firstname) }}
            </div>
            <div class="col-lg-4 col-md-7 col-sm-10">
                {{ form_label(form.lastname, 'Nom') }}
                {{ form_widget(form.lastname, ({'attr': {'class':'form-control'}})) }}
                {{ form_errors(form.lastname) }}
            </div>
        </div>
        <div class="row form-group-contact pt-3 justify-content-center">
            <div class="col-lg-4 col-md-7 col-sm-10">
                {{ form_label(form.email, 'Email') }}
                {{ form_widget(form.email, ({'attr': {'class':'form-control'}})) }}
                {{ form_errors(form.email) }}
            </div>
            <div class="col-lg-4 col-md-7 col-sm-10">
                {{ form_label(form.telephone, ' Téléphone') }}
                {{ form_widget(form.telephone, ({'attr': {'class':'form-control'}})) }}
                {{ form_errors(form.telephone) }}
            </div>
        </div>
        <div class="row form-group-contact-bis pt-3 justify-content-center">
            <div class="member-address col-lg-8 col-sm-10 ">
                {{ form_label(form.address, 'Adresse') }}
                {{ form_widget(form.address, ({'attr': {'class':'form-control'}})) }}
                {{ form_errors(form.address) }}
            </div>
        </div>
        <div class="row form-group-password pt-3 justify-content-center">
            <div class="col-lg-4 col-md-7 col-sm-10">
                {{ form_label(form.password.first) }}
                {{ form_widget(form.password.first, ({'attr': {'class':'form-control'}})) }}
                {{ form_errors(form.password.first) }}
            </div>
            <div class="col-lg-4 col-md-7 col-sm-10">
                {{ form_label(form.password.second) }}
                {{ form_widget(form.password.second, ({'attr': {'class':'form-control'}})) }}
                {{ form_errors(form.password.second) }}
            </div>

        </div>
        <div class="row form-group-personal-information justify-content-center">
            <div class="col-lg-4 col-md-7 col-sm-10">
                {{ form_label(form.birthdate, 'Date de naissance') }}
                {{ form_widget(form.birthdate) }}
                {{ form_errors(form.birthdate) }}
            </div>
        </div>
        <div class="row form-group-other-informations justify-content-center">
            <div class="col-lg-2 col-md-3 col-sm-10">
                {{ form_label(form.gender, 'Sexe') }}
                {{ form_widget(form.gender, ({'attr':{'class':'width-radio'}})) }}
                {{ form_errors(form.gender) }}
            </div>
            <div class="col-lg-2 col-md-3 col-sm-10">
                {{ form_label(form.activities, 'Activités') }}
                {{ form_widget(form.activities, ({'attr': {'class':'checkbox-activities'}})) }}
                {{ form_errors(form.activities) }}
            </div>
        </div>
    </div>
</div>
    <div class="row btn-new-account pt-3 justify-content-center">
        <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
    </div>
    {{ form_end(form) }}









