{% extends 'base.html.twig' %}

{% block title %}Membres{% endblock %}

{% block body %}
    {% include 'admin/_navbar.html.twig' %}
    {{ include ('admin/_header.html.twig', { titleHeader: 'Membres' }) }}
    <div class="admin-content position-absolute justify-content-center">

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Utilisateur</th>
                <th>Rôle</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>Téléphone</th>
                <th>action</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.firstname ~' '~ user.lastname }}</td>
                    <td>{{ user.roles|join(', ')}}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.address }}</td>
                    <td>{{ user.telephone }}</td>
                    <td>
                        <a class="btn btn-success" href="{{ path('admin_user_edit', {'id': user.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
